@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to Cuenector</h1><br />
    <p>
        Socialization, especially in a public event, can be challenging for individuals.
        People may find it difficult to network with the people with similar interest in a public event.
        Sometimes, getting into an ongoing group conversation is also difficult, especially for introverts or people with socialization issues. Different techniques have been applied to resolve public socialization problems, however it has not been able to entirely solve the instant connection-making and socio-behavioral cue identification issues.
    </p><br /><br />

    <h4>A Better Way to Connect with people?</h4>
    <p>
        In this work, Cuenetor, we attempt to address the problem using a google glass application.
        We propose a technique to instantly locate people with similar interest and help people to understand the socio-behavioral
        cues if they need assistance in real-time.
    </p><br /><br />

    <h4>Contextual Inquiry Insights</h4><br />

    <div class="row">
        <div class="col-sm-4">
            <img src="https://lh3.googleusercontent.com/Justzva8wIBCyUcsRuIMC857l6ITvuWOa2UBARER0rvRdn-_V5g53vOuRTzf4lu-tmLLEjOFOZvw3jNwAW0UmDzaHpQOMWKYLzoiQL-9jMGRLdWVeg=w371" />
            <br />
            <p><b>People Don't Know Whom to connect with </b></p>
            <p>
                We surveyed students from University of Rochester, and they estimated that over 60% of the time when they are in a conference, they don't know whom they should talk to.
            </p>
        </div>

        <div class="col-sm-4">
            <img src="https://lh3.googleusercontent.com/JjJF0l_Yvn-r1VHC0U-sKWzc4S7TivMNN4x5P3LsjxHO-h-d7rV9rdSPfQOabjE07rS9_RF5eikFlrKLS82N3mRyhdKz4kSPAAMhNdxvHEl1IIahlFQ=w371" />
            <br />
            <p><b>People Don't Know How to approach people </b></p>
            <p>
                Most of them indicated that sometimes they are not very sensitive to the social cues that are happening around them.
            </p>
        </div>

        <div class="col-sm-4">
            <img src="https://lh3.googleusercontent.com/pNyatE24tFeHogOS_wq3qrBc25BwWl4AXuv80s2A-oTvHGHjymh4Ejn2WHa3Im4I6ap-0M_T9JrwyqTn3-ZEjemkZ6gRc5PZWuUt4-i5MaNIMzrEmQ=w371" />
            <br />
            <p><b>People love Cross-platform Application </b></p>
            <p>
                Our user study tells us that people are willing to use a combination of mobile app and  wearable app when going to a conference.
            </p>
        </div>

    </div>


    <br /><br /><br /><br /><br /><br />
    
    <h4> What's next? </h4>
    <p>
        We used insights from our contextual inquires to determine the application's key functionalities. We considered the several user cases, from registering before departure, activating the application, searching for matched targets, getting informed with cues, etc...
        We determine user flows, sketch paper prototypes, test prototypes with real users, design wireframe pages, eventually prioritize the most important features before moving our design to digital.
    </p>
    <p><b>See upper right corner to register. </b></p>

    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
